body{
  margin: 0px 0px 0px 0px;
  padding: 0;
  height: 100%;
}

.heading {
  z-index: 1;
  background: transparent;
  width: 100%;
  padding: 10px;
  font-size: 2vw;
}

.main-text{
  font-size: 3vw;
}

.App {
  text-align: center;
}

.cart-btn{
  display:flex;
}

.count{
  font-size: 70%;
  font-weight: bolder;
  align-self: center;
  text-align: center;
  background-color: red;
  color:white;
  border-radius: 50px;
  height: 2vw;
  width: 2vw;
}


