body{
  margin: 0px 0px 0px 0px;
  padding: 0;
  height: 100%;
}

.heading {
  z-index: 1;
  background: transparent;
  width: 100%;
  padding: 10px;
  font-size: 2vw;
}

.main-text{
  font-size: 3vw;
}

.App {
  text-align: center;
}

